  
  /* navbar */
  .body{
    background-image: linear-gradient(315deg, #063496 0%, #ddece1 74%);

  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:0;
    height:4.5rem;
    box-sizing: border-box;
    transition: all .7s ease-in;
  }
  .logo__title{
    margin-top: 2.2rem;
    margin-left:9px;
    cursor: pointer;
    font-size: 40px;
    color:rgb(22, 21, 88);
    font-family: 'Comfortaa';
  
  } 
  
  .hire{
    background-color: #ff8181;
    background-image: -webk it-linear-gradient(top, #f34f4f, #fa3d3d);  background-image: -moz-linear-gradient(top, #ff6b6b, #fc5650);  background-image: -ms-linear-gradient(top, #ff5d5d, #ff5a44);  background-image: -o-linear-gradient(top, #fc6d54, #ff6565);  background-image: linear-gradient(to bottom, #ff4f42, #ff4444);
 
    -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;
    text-shadow: 1px 0.5px #6e6565; 
     -webkit-box-shadow: 6px 5px 24px #eed2d2; 
      -moz-box-shadow: 6px 5px 24px #f3d3d3; 
       box-shadow: 6px 5px 24px #f3e0e0;
    
    border-radius: 10px;
   color: rgb(255, 255, 255);
   padding: 1px 18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 9px;
   transition: ease 0.5s ease-in-out;
   cursor: pointer;
   margin-right:0.7rem;
   margin-top:-0.1rem;
   font-family:'Comfortaa';
   box-shadow: rgba(255, 244, 244, 0.25) 0px 48px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   .hire:after {
    content: '-20%';
    display: inline-block;
    font-size: 0.9rem;
    color: #000000;
    background-color: #ec8e22;
    border-radius: 25px;
    padding: 3px;
    position: absolute;
    margin-top: -3.2rem; 
    margin-left: 5px; 
  }
   .hire:hover {
    background-image: -webkit-linear-gradient(top, #030322, #020220);
    background-image: -moz-linear-gradient(top, #071127, #071429);
    background-image: -ms-linear-gradient(top, #0a1e31, #041925);
    background-image: -o-linear-gradient(top, #021720, #040e22); 
    background-image: linear-gradient(to bottom, #02131f, #041427);
    text-decoration: none;
    color: whitesmoke;
  }
  

   /* Hero */
    .banner{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      

    }

     .hero{

     }
     .hero__text{
      margin-left:0.3rem;
     
     }
    .hero__title__h1{
      margin-left:0rem;
    }
  
  .image{
   margin-top: 5rem;
   width: 95%;
  }


  .description{
      line-height: 0.2rem;
      margin-left: 0.5rem;
      font-size:12.5px;
      color:rgb(23, 22, 70);
      font-family: 'Comfortaa';
      font-weight: 900;
  }
  .hero__title{
    font-size: 0.8rem;
    margin-top: 3rem;
    margin-left: 0.4rem;
    line-height: 1.2rem;
    color:rgb(22, 21, 88);
    font-family:'Comfortaa';
      
  }
  .hero__image{
    height: 28rem;
  }
  
  .btn__box {
    position: absolute;
    margin-top:0rem;
    margin-left: 10rem;
  }
  .btn__1{
    position: absolute;
    margin-top:-6rem;
    margin-left:-5.5rem;
    color: rgb(38, 73, 102);
    background-color: #ffffff;
    padding: 11px 25px;
    border-radius: 20px;
    border: #2b64b9;
    cursor: pointer;
    font-family: 'Comfortaa';
    transition: all 0.5s;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(238, 238, 238, 0.32) 0px 2px 16px 0px;
  
  }
  .btn__1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__1:hover span {
    padding-right: 20px;
  }
  
  .btn__1:hover span:after {
    opacity: 1;
    right: 0;
  }
  

  .btn__2{
    position: absolute;
    margin-top:-2rem;
    margin-left:-5.5rem;
    color: rgb(38, 73, 102);
    background-color: #ffffff;
    padding: 11px 39px;
    border-radius: 20px;
    border: #2b64b9;
    cursor: pointer;
    font-family: 'Comfortaa';
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(238, 238, 238, 0.32) 0px 2px 16px 0px;

  }
  .btn__2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__2:hover span {
    padding-right: 15px;
  }
  
  .btn__2:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .btn__3{
    position: absolute;
    margin-top:-6rem;
    margin-left: 3rem;
    padding: 10px 32px;
    border-radius:20px;
    border: #2b64b9;
    cursor: pointer;
    background-color: white;
    color: rgb(38, 73, 102);
    font-family: 'Comfortaa';
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(238, 238, 238, 0.32) 0px 2px 16px 0px;

  }


  .btn__3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__3:hover span {
    padding-right: 15px;
  }
  
  .btn__3:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .btn__4{
    position: absolute;
    margin-top:-2rem;
    margin-left:3rem;
    padding: 10px 25px;
    border-radius: 20px;
    cursor:pointer;
    background-color: white;
    border: #2b64b9;
    color: rgb(38, 73, 102);
    font-family: 'Comfortaa';
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(238, 238, 238, 0.32) 0px 2px 16px 0px;
  }
  .btn__4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__4:hover span {
    padding-right: 15px;
  }
  
  .btn__4:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .button{
    background-color: #ff6666;
   background-image: -webk it-linear-gradient(top, #ff4848, #fa3d3d);  background-image: -moz-linear-gradient(top, #ff4a4a, #fc5650);  background-image: -ms-linear-gradient(top, #ff5d5d, #ff715e);  background-image: -o-linear-gradient(top, #fc6d54, #ff6565);  background-image: linear-gradient(to bottom, #ff4f42, #ff4444);
   -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;
    text-shadow: 1px 0.5px #917f7f; 
     -webkit-box-shadow: 6px 5px 24px #eed2d2; 
      -moz-box-shadow: 6px 5px 24px #f3d3d3; 
       box-shadow: 6px 5px 24px #f3e0e0;
    border-radius: 13px;
    color: rgb(252, 252, 252);
    padding: 14px 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Comfortaa';
    transition: ease 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
    margin-top:0.7rem;
    margin-left:0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
  }
  .button:hover {
    background-image: -webkit-linear-gradient(top, #030322, #020220);
    background-image: -moz-linear-gradient(top, #071127, #071429);
    background-image: -ms-linear-gradient(top, #0a1e31, #041925);
    background-image: -o-linear-gradient(top, #021720, #040e22); 
    background-image: linear-gradient(to bottom, #02131f, #041427);
    text-decoration: none;
    color: whitesmoke;
  }
/*footer*/
  .footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 7rem;
    background-image: linear-gradient(315deg, #264588 0%, #242c74 74%);
  
  }


  .fb{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
    color: rgb(255, 72, 72);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: rgba(35, 47, 184, 0.35) 0px 5px 15px;
    display:inline-block;
     
  }
  
  .tw{
    position: absolute;
    margin-left: 3.5rem;
    margin-top: 1rem;
    color: rgb(255, 72, 72);
    font-size:1.5rem;
    cursor: pointer;
    box-shadow: rgba(29, 42, 187, 0.35) 0px 5px 15px;

  }
  .gt{
    position: absolute;
    margin-left: 6.5rem;
    margin-top: 1rem;
    color: rgb(255, 72, 72);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: rgba(25, 41, 221, 0.35) 0px 5px 15px;

  }
  .ph{
    position: absolute;
    margin-left: 9.5rem;
    margin-top: 1rem;
    color: rgb(255, 72, 72);
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: rgba(23, 35, 156, 0.35) 0px 5px 15px;

  }
  .gm{
    position: absolute;
    margin-left: 12.5rem;
    margin-top: 1rem;
    color: rgb(255, 72, 72);
    font-size: 1.5rem;
    box-shadow: rgba(25, 41, 221, 0.35) 0px 5px 15px;
  }
  .mp{
    position: absolute;
    margin-left: 1rem;
    margin-top: 3.1rem;
    color: rgb(255, 72, 72);
    font-size: 1.5rem;
  }
.footer__h3{
  position: absolute;
  margin-left: 3rem;
  margin-top: 3.7rem;
  font-size: 1rem;
  color: rgb(182, 145, 145);
  font-family: 'Comfortaa';
}
.cp{
  position: absolute;
  margin-left: 0.8rem;
  margin-top: 5.2rem;
  font-size: 1.5rem;
  color: rgb(255, 72, 72);

}
.ma{
  position: absolute;
  margin-left: 3rem;
  margin-top: 5.6rem;
  color: rgb(182, 145, 145);
  font-family: 'Comfortaa';

}
.wp{
  margin-right:0.3rem;
  margin-top: 4.5rem;
  font-size: 2.5rem;
  color: #00f87c;
}

/* media queries */

@media screen and (min-width :1320px){
  .logo__title{
    font-size: 3rem;
    margin-left: 9.9rem;
    margin-top:3.2rem;
  }
  .hire{
    font-size: 10px;
    margin-right:5.2rem;
    padding: 1px 20px;
  }
  .hire:after{
    font-size: 15px;
    margin-top: -3.4rem;
    margin-left: 1rem;
  }
  .banner{
    flex-direction: row;
    height: 40rem;
  }
  .hero__text{
    margin-left: 9.5rem;
    margin-top: 5rem;
  }
  .hero__title{
   font-size: 1.3rem;
  }
  .description{
    font-size: 13.3px;
  }
  .hero__image{
    margin-right: 2.4rem;
    margin-top: -2rem;
  }
  .image{
    width: 90%;
  }
  .button{
    padding:15px 34px;
  }
}

  