  
  /* navbar */
  .body{
   

  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left:0;
    height:4.5rem;
    box-sizing: border-box;
    transition: all .7s ease-in;
    }
  .logo__title{
    margin-top: 2.2rem;
    margin-left:9px;
    cursor: pointer;
    font-size: 32.5px;
    color:rgb(22, 21, 88);
    font-family: 'Comfortaa';
    text-shadow: 1px 0.5px #917f7f; 
     -webkit-box-shadow: 6px 5px 1px #ffffff; 
      -moz-box-shadow: 3px 2px 1px #ffffff; 
       box-shadow: 3px 1px 1px #ffffff;
    border-radius: 13px;
  
  } 
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -0.5rem;
  }
  .africa{
    margin-left:rem;
    margin-top: 2.1rem;
    font-size: 38px;
    color:rgb(22, 21, 88);
    text-shadow: 1px 0.5px #917f7f; 
     -webkit-box-shadow: 6px 5px 1px #ffffff; 
      -moz-box-shadow: 3px 2px 1px #ffffff; 
       box-shadow: 3px 1px 1px #ffffff;
    
  }
  .hire{
    background-color: #ff4b4b;
    
    -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;
    text-shadow: 1px 0.5px #6e6565; 
      border-radius: 10px;
   color: rgb(255, 255, 255);
   padding: 1px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 8px;
   transition: ease 0.5s ease-in-out;
   cursor: pointer;
   margin-right:0.7rem;
   margin-top:-0.1rem;
   font-family:'Comfortaa';
   border: white;
   }
   .hire:after {
    content: '-20%';
    display: inline-block;
    font-size: 0.8rem;
    color: #000000;
    background-color: #ec8e22;
    border-radius: 25px;
    padding: 2px;
    position: absolute;
    margin-top: -3rem; 
    margin-left: 5px; 
  }
   .hire:hover {
    background-image: -webkit-linear-gradient(top, #030322, #020220);
    background-image: -moz-linear-gradient(top, #071127, #071429);
    background-image: -ms-linear-gradient(top, #0a1e31, #041925);
    background-image: -o-linear-gradient(top, #021720, #040e22); 
    background-image: linear-gradient(to bottom, #02131f, #041427);
    text-decoration: none;
    color: whitesmoke;
  }
  

   /* Hero */
    .banner{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    background-image: linear-gradient(315deg, #0e54a3  50%, #ffffff 50%);

    }
     .hero{
      margin-top: -1rem;
    
     }
     .hero__text{
      margin-left:0.3rem;
      
     }
    .hero__title__h1{
      margin-left:0rem;
    }
  .image{
   margin-top: 5rem;
   width: 95%;
  }

  .description{
      line-height: 0.4rem;
      margin-left: 0.5rem;
      font-size:14px;
      color:rgb(22, 21, 88);
      
      
      font-family: 'Comfortaa';
      font-weight: 100;
  }
  .hero__title{
    font-size: 0.81rem;
    margin-top: 3rem;
    color:rgb(22, 21, 88);
    

    margin-left: 0.4rem;
    line-height: 1.2rem;
    
    font-family:'Comfortaa';
  }
  .hero__image{
    height: 28rem;
  }
  
  .btn__box {
    position: absolute;
    margin-top:0rem;
    margin-left: 10rem;
  }
  .btn__1{
    position: absolute;
    text-decoration: none;
    display: inline-block;
    margin-top:-6rem;
    
    

    margin-left:-5.5rem;
    color:rgb(22, 20, 128);
    
    
    background-color: #ffffff;
    padding: 11px 25px;
    border-radius: 20px;
    border: #2b64b9;
    cursor: pointer;
    font-family: 'Comfortaa';
    transition: all 0.5s;
    box-shadow: rgba(48, 78, 97, 0.12) 5px 10px 10px 5px, rgba(86, 118, 160, 0.32) 2px 2px 16px 2px;
  
  }
  .btn__1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__1:hover span {
    padding-right: 20px;
  }
  
  .btn__1:hover span:after {
    opacity: 1;
    right: 0;
  }
  .btn__2{
    position: absolute;
    text-decoration: none;
    
    
    display: inline-block;

    margin-top:-2rem;
    margin-left:-5.5rem;
    color:rgb(22, 20, 128);
    
    
    
    background-color: #ffffff;
    padding: 11px 39px;
    border-radius: 20px;
    border: #2b64b9;
    cursor: pointer;
    font-family: 'Comfortaa';
    box-shadow: rgba(13, 147, 236, 0.12) 5px 10px 10px 5px, rgba(12, 99, 214, 0.32) 2px 2px 16px 2px;
  }
  .btn__2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__2:hover span {
    padding-right: 15px;
  }
  
  .btn__2:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .btn__3{
    position: absolute;
    text-decoration: none;
    display: inline-block;
  
    

    margin-top:-6rem;
    margin-left: 3rem;
    padding: 11px 32px;
    border-radius:20px;
    border: #2b64b9;
    cursor: pointer;
    background-color: white;
    color:rgb(22, 20, 128);
    
    
    
    font-family: 'Comfortaa';
    box-shadow: rgba(13, 147, 236, 0.12) 5px 10px 10px 5px, rgba(12, 99, 214, 0.32) 2px 2px 16px 2px;
    

  }


  .btn__3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__3:hover span {
    padding-right: 15px;
  }
  
  .btn__3:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .btn__4{
    position: absolute;
    text-decoration: none;
    color:rgb(22, 20, 128);
    
    
    display: inline-block;
    margin-top:-2rem;
    margin-left:3rem;
    padding: 11px 21px;
    border-radius: 20px;
    cursor:pointer;
    background-color: white;
    border: #2b64b9;

    
    font-family: 'Comfortaa';
    box-shadow: rgba(13, 147, 236, 0.12) 5px 10px 10px 5px, rgba(12, 99, 214, 0.32) 2px 2px 16px 2px;
    
  }
  .btn__4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn__4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .btn__4:hover span {
    padding-right: 15px;
  }
  
  .btn__4:hover span:after {
    opacity: 1;
    right: 0;
  }
  

 
  .button{
    background-color: #f74848;
   border-radius: 28;  -moz-border-radius: 10px;  border-radius: 28px;
    text-shadow: 1px 0.5px #a39292; 
     -webkit-box-shadow: 1px 1px 1px #ffffff; 
      -moz-box-shadow: 1px 1px 1px #ffffff; 
       box-shadow: 1px 1px 1px #ffffff;
    border-radius: 13px;
    color: rgb(252, 252, 252);
    padding: 14px 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Comfortaa';
    transition: ease 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
    margin-top:0.7rem;
    margin-left:0.5rem;
    border:white ;
    
   
  }
  .button:hover {
    background-image: -webkit-linear-gradient(top, #030322, #020220);
    background-image: -moz-linear-gradient(top, #071127, #071429);
    background-image: -ms-linear-gradient(top, #0a1e31, #041925);
    background-image: -o-linear-gradient(top, #021720, #040e22); 
    background-image: linear-gradient(to bottom, #02131f, #041427);
    text-decoration: none;
    color: whitesmoke;
  }
/*footer*/
  .footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 7rem;
    background-color: rgb(253, 253, 253);
    
  
  }
  .hr{
    position: absolute;
    width:100%;
    color: white;
  }


  .fb{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.8rem;
  color: rgb(255, 57, 57);
    
    font-size: 1.5rem;
    cursor: pointer;
    display:inline-block;
     
  }
  
  .tw{
    position: absolute;
    margin-left: 3.5rem;
  color: rgb(255, 57, 57);
    
    
    margin-top: 1rem;
    font-size:1.5rem;
    cursor: pointer;

  }
  .gt{
    position: absolute;
    margin-left: 6.5rem;
    margin-top: 1rem;
  color: rgb(255, 57, 57);
    
    
    font-size: 1.5rem;
    cursor: pointer;
    

  }
  .gm{
    position: absolute;
    margin-left: 9.5rem;
    margin-top: 1rem;
  color: rgb(255, 57, 57);
    
    font-size: 1.5rem;
    cursor: pointer;
  
  }
  
  .ph{
    position: absolute;
    margin-left:12.5rem;
    margin-top:1rem;
    font-size:1.5rem;
    color: rgb(255, 57, 57);
    
    

  }
  .mp{
    position: absolute;
    margin-left: 1rem;
    margin-top: 3rem;
    color: rgb(255, 57, 57);
  color: rgb(158, 64, 64);

    font-size: 1.6rem;
  }
.footer__h3{
  position: absolute;
  margin-left: 3rem;
  margin-top: 3.7rem;
  color: rgb(158, 64, 64);
  
  font-size: 1rem;
  
  font-family: 'Comfortaa';
}
.cp{
  position: absolute;
  margin-left: 0.8rem;
  margin-top: 5.2rem;
  font-size: 1.6rem;
  
  color: rgb(255, 57, 57);
  color: rgb(158, 64, 64);
  
  
}
.ma{
  position: absolute;
  margin-left: 3rem;
  margin-top: 5.7rem;
  color: rgb(163, 73, 73);
  
  

  font-family: 'Comfortaa';

}


/* media queries */

@media screen and (min-width :1320px){
  .navbar{
    background-color: rgb(255, 255, 255);
  }
  .logo__title{
    font-size: 3rem;
    margin-left: 9.9rem;
    margin-top:4.5rem;
  }
  .hire{
    font-size: 9.5px;
    margin-top: 1rem;
    margin-right:7.3rem;
    padding: 1px 22px;
  }
  .hire:after{
    font-size: 15px;
    margin-top: -3.4rem;
    margin-left: 1rem;
  }
  .banner{
    flex-direction: row;
    height: 30rem;
    background-image: linear-gradient(315deg, #0e54a3  20%, #ffffff 50%);

  }
  .hero__text{
    margin-left: 9.4rem;
    margin-top: 7rem;
  }
  .hero__title{
   font-size: 1.2rem;
  }
  .description{
    font-size: 12.5px;
  }
  .hero__image{
    margin-right: 2.4rem;
    margin-top: -2rem;
  }
  .image{
    width: 85%;
    margin-top: 3rem;
  }
  .button{
    padding:15px 32px;
  }
  .footer{
    margin-top: 0rem;  
    background-color:#0e54a3 ;
  }
  .btn__1{
    margin-left: 1rem;
    padding: 13.5px 35px;
    margin-top: -7rem;
  }
  .btn__2{
    margin-left:1rem;
    padding: 13px 49px;
  

  }
  .btn__3{
    margin-left: 13rem;
    padding: 13px 43px;
    margin-top: -7rem;

  }
  .btn__4{
    margin-left: 13rem;
    padding: 13px 30px;

  }
  .icons{
    margin-left: 9rem;
    
    
  }
  .fb{
    font-size: 1.6rem;
  }
  .tw{
    font-size: 1.6rem;
  }
  .gt{
    font-size: 1.6rem;

  }

.gm{
  font-size: 1.6rem;

}
.ph{
  font-size: 1.6rem;

}
  
}

  